
<div class="container">
  <h1>JOONE PRODUCTS LIST</h1>
    <div class="d-flex flex-wrap">
        <% @products.each do |product| %>
          <%= react_component("Product", { name: product.name, image: product.image }) %>
        <% end %>
    </div>
</div>

